.container {
  width: 80%;
  margin: 0 auto;
}

#catList {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  justify-content: center;
  float: left;
  margin: 10px;
}

button {
  width: 100%;
}

img {
  width:500px;
  height: 300px; 
  cursor:pointer;
}

#catCounter {
  width: 600px;
  text-align: end;
  font-family: sans-serif;
  margin-bottom: 20px;
}

#catHeader {
  width: 600px;
  text-align: end;
}