.container {
  width: 80%;
  margin: 0 auto;
}

h1 {
  
}

#counter {
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 20px;
}

img {
  width:500px;
  height: 300px; 
  cursor:pointer;
}

#catHeader {
  width: 600px;
  text-align: end;
}

#catList {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  justify-content: center;
  float: left;
  margin: 10px;
}

button {
  width: 100%;
}